<nav class="navbar navbar-light" style="background-color: #c5b358;">
  <a class="navbar-brand" routerLink="/">
    <img
      src="assets/img/logo-kryptocoin.svg"
      width="40"
      height="40"
      class="d-inline-block align-top"
      alt=""
    />
    &nbsp;KryptoCoin
  </a>

  <div>
    <button routerLink="/new/transaction" class="btn btn-outline-dark">
      Create transaction
    </button>
    &nbsp;
    <button
      routerLink="/new/transaction/pending"
      class="btn btn-outline-dark"
      *ngIf="thereArePendingTransactions()"
    >
      Pending transactions
      <span class="badge badge-dark">{{
        blockchain.pendingTransactions.length
      }}</span>
    </button>
    &nbsp;
    <button routerLink="/settings" class="btn btn-outline-dark">
      Settings
    </button>
  </div>
</nav>

<br />

<div class="container" *ngIf="showInfoMessage === true">
  <div class="alert alert-primary alert-dismissible fade show" role="alert">
    <h4 class="alert-heading">First things first.</h4>
    This tool gives you the ability to look behind-the-scenes of a blockchain.
    You can create transactions, mine blocks and see how they all work together.
    Go ahead, make some transactions, mine a block, tweak the settings and see
    the effects of your actions in real-time.
    <hr />
    <a href="https://github.com/Mousto097/KryptoCoin">Source code here.</a>
    <button
      type="button"
      class="close"
      data-dismiss="alert"
      aria-label="Close"
      (click)="dismissInfoMessage()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>

<router-outlet></router-outlet>

<footer class="py-2" style="margin-top: 150px; background-color: #c5b358;">
  <div class="container text-center">
    <small
      >2020 Copyright &copy;
      <a href="https://github.com/Mousto097/KryptoCoin" target="_blank"
        >Kryptocoin.ca</a
      ></small
    >
  </div>
</footer>
